
{%block body_block%}

<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
    {% load static %} 
     {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  {% endcomment %}
      <link rel="stylesheet" href="{% static 'css/listpage.css' %}">   
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />  
    <script type="text/javascript"> 
      window.history.forward(); 
      function noBack() { 
          window.history.forward();
          style="pointer-events: none;";"cursor: default"

      } 
      
  </script>
 
  </head> 
  
  <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="white" >
    <div class="row" style="margin-left:1000px;">
      <div id="load" style="margin-left:-930px; color:red;">
    
        <div style="color:white; margin-left:40px;"><h2>K</h2></div>
        <div style="color:white;margin-left:30px;"><h2>C</h2></div>
        <div style="color:white; margin-left:20px;"><h2>A</h2></div>
        <div style="color:white; margin-left:10px;"><h2>R</h2></div>
        <div style="color:white; margin-left:0px;"><h2>T</h2></div>
      </div>
       <div id="load" style="margin-left:-820px; color:red;">
        <div style="color:white; margin-left:20px;"><h2>D</h2></div>
        <div style="color:white; margin-left:10px;"><h2>N</h2></div>
        <div style="color:white; margin-left:0px;"><h2>A</h2></div>
      </div> 
      <div id="load" style="margin-left:-700px; color:red;">
        <div style="color:white; margin-left:40px;"><h2>E</h2></div>
        <div style="color:white; margin-left:30px;"><h2>C</h2></div>
        <div style="color:white; margin-left:20px;"><h2>A</h2></div>
        <div style="color:white; margin-left:10px;"><h2>R</h2></div>
        <div style="color:white; margin-left:0px;"><h2>T</h2></div>
     
      </div> 
        
          
   
       
    </div>
    <br/><br/>
    <div class="col-2">
      <a class="btn btn-outline-danger"  href="{%url 'signout'%}">Logout</a>      
    </div> 
   <div class="row">
    <div class="col-24" >
      <div class="row">
        <form action="{%url 'search'  %}" method="get" class="d-flex"  >   
        <div class="col-8">
          <input class="form-control me-2" type="text" name="query" placeholder="Enter Gtin" aria-label="Search" >
        </div>&nbsp;&nbsp;&nbsp;
        <div class="col-4">
          <button class="btn btn-outline-success" type="submit">Search</button></div> 
        </div>
      </form>
      </div>
 
    </div>
   
   </div>
      
     
 
     
      
     
    
   
    </div>
   
   
  </nav>
  <br/>

  <div class="row">
    <div class="col-8">  
    </div>
    <div class="col-3">
      {% if search == 1 %}
      <a href="{%url 'indexpage' %}" class="btn btn-info" style= "color:black;" >Back To List Page</a>   
    
        
      {% endif %} 
     
     
    </div>
    <div class="col-1">      
    </div>
  </div>
  <br/>
  <div class="container-fluid">
  <div class="row" >
  <div class="table-responsive text-nowrap">      
  <table   class="table table-dark table-striped  table-hover table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl" style="height:600px;">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <thead >
      <tr>
        <tr>
         
            <th style="color:red;" scope="col">id</th>
            <th style="color:red;" scope="col">Gtin</th>
            <th style="color:red;" scope="col">Lot</th>
            <th style="color:red;" scope="col">Expire Date</th>
            <th style="color:red;" scope="col">Type</th>
            <th style="color:red;" scope="col">Status</th>
            <th style="color:red;" scope="col">Action</th>
        </tr>
      </tr>
    </thead>
    
    {% for job in page_obj %}
    <tbody >
      <tr style="color:white;">
        <td>{{job.id}}</td>
        <td>{{job.gtin}}</td>
        <td>{{job.lot}}</td>
        <td>{{job.expiration_date}}</td>
        <td>{{job.type}}</td>
        <td >{{job.status}}</td>
       <div class="col-12 col-lg-6 col-md-8" >  
        <td colspan="4">
          {% if job.status == "Printed" %}
          
              <a href="{%url 'autovision' job.id%}" class="btn btn-danger m-1" data-role="disabled" style="pointer-events: none; height:40px";"cursor: default";><pre>  Batch  Closed </pre> </a>
      
           {% else %}  
           
             <a href="{%url 'autovision' job.id%}" onClick="window.location.reload();"  class="btn btn-success m-1">Check Autovision</a>  

         
          {% endif %}  
        </td>
      </div> 
      </tr>
        {% endfor %}   
    </tbody>
  </table>
</div>  
</div> 
</div> 

<div class="row">
  <div class="col-6"></div>
  <div class="col-6">
    <center>
      <nav aria-label="Page navigation example">
        <ul class="pagination" >
          {% if page_obj.has_previous %} 
          <li class="page-item"><a class="page-link" style="color:red;" href="{%url 'indexpage' %}?page={{page_obj.previous_page_number}}">Previous Page</a></li> 
           {% endif %}
          <li class="page-item"><a class="page-link" style="color:red;" href="#">{{page_obj.number}}</a></li>
          {% if page_obj.has_next %} 
         <li class="page-item"><a class="page-link" style="color:red;" href="{%url 'indexpage' %}?page={{page_obj.next_page_number}}">Next Page</a></li>
         {% endif %}
        </ul>
      </nav>
    </center>
  </div>
</div>


{% endblock %}