
{% extends 'base.html' %}
{% block content %}
{% for job in page_obj %}
<td>{{job.gtin}}</td>
{% endfor %}

{% if page_obj.has_previous %} {# whether the previous page exists #}
<a href="{%url 'indexpage' %}?page={{page_obj.previous_page_number}}">PreviousPage</a> {# link to the prev page #}
{% endif %}
<span>{{page_obj.number}}</span> {# the current page number #}

{% if page_obj.has_next %} {# whether the next page exists #}
<a href="{%url 'indexpage' %}?page={{page_obj.next_page_number}}">NextPage</a> {# link to the next page #}
{% endif %}


{% endblock %}