<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">  
  <title>Index</title>  
  {% load static %} 
  {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}"/> {% endcomment %}
  
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous"
  /> 
   <link rel="stylesheet" href="{% static 'css/signin.css' %}">  

</head>  

<body style="background:black;">
  
<div class=""  >
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="container">
        <div class="📦"></div>
        <div class="📦"></div>
        <div class="📦"></div>
        <div class="📦"></div>
        <div class="📦"></div>
      </div>
    </div>
    <div class="col-2">
     
    </div>
  </div>
<br>
   <div class="row" >
    <div class="col-4"></div>
    <div class="col-4" style="width:200%; height:250px; color:;border: 4px solid rgb(51, 74, 72);border-radius: 65px;
      background: linear-gradient(90deg, rgba(11,29,21,1) 7%, rgba(17,18,18,1) 18%, rgba(10,10,10,1) 29%, rgba(5,5,5,1) 78%, rgba(10,37,28,1) 88%);">
      
      <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
        <form action="" method="post" style="color:white;">
          {% csrf_token %}
          <br/>
          {{form.as_p}}
          <center><input type="submit" class="btn btn-outline-success" value="signin" style=""></center>
        </form> 
      
      </div>
      
     </div>
    <div class="col-4">
    </div>
  </div> 
</div>

</body>
</html>