<!DOCTYPE html>
<html lang="en">  
    <head>  
        <meta charset="UTF-8">  
        <title>Index</title>  
        {% load static %} 
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous"
        />
       
        {% comment %} <script type="text/javascript"> 
          window.history.forward(); 
          function noBack() { 
              window.history.forward(); 
          } 
          
      </script>  {% endcomment %}
      
    </head> 
    <br/> 
    <body style="background-color:#848482"> 
      
        {% comment %} <div class="alert alert-primary"  role="alert" style="width:30%; margin-left:600px" >
            Click To The Prepare button After Preparing Click To Start 
           </div>  {% endcomment %}
    <form method="POST" class="post-form" action="{{qs.id}}">  
        {% csrf_token %}
        <br/> <br/> <br/>
        <div class="container text-center" style="border: 4px solid rgb(51, 74, 72); background-color:#d3d3d3">
           
            <div class="row">
               
                <div classname="col-12">
                    <h1><font face="times new roman" >Printing Details</font></h1>
                    <br></br>
                </div>
               
            </div>
            <h4>SerialNumber Count : {{ sc }}</h4>
           
            {% if sc <= 1000 %}
            <div class="alert alert-warning" role="alert">
                Serialnumbers Becomes low Please Pause The Printer and Download More Numbers  
              </div>
              {% elif sc <= 100 %}  
              <div class="alert alert-danger" role="alert">
                Serialnumbers Becomes low Please Pause The Printer and Download More Numbers
              </div>
              {% else %}
              <div>
                
              </div>
               
        {% endif %} 
        {% if prer < 10 %}
        <div class="alert alert-warning" role="alert">
          Ink Level Of Printer Is Low
          </div> 
          {% endif %} 
          {% if warningmess == "cartridge_nearing_expiration (7)"  %}
          <div class="alert alert-primary"  role="alert" style="width:50%; margin-left:450px" >
          Cartridge oF Printer Will Expire Soon 
          </div> 
          {% endif %} 
            <br/> <br/> <br/>
            <div class="row" style="margin-left:-110px">
                <br></br>
                <div class="col-3">  
                  <h5 style="margin-left:180px">Lot</h5>
                  <br/> <br/><br/>
                  <h5 style=" margin-left:190px" >Serialno</h5>  
                  <br/> <br/><br/>
                  <h5 style=" margin-left:200px" >Expiry Date</h5>  
                </div>
                <div class="col-3">
                  <input type="text" readOnly="true" style="width:80%;height:50px"   name="eid" id="id_eid" required maxlength="50" value="{{ qs.lot }}"/> 
                  <br/><br/><br/>
                  <input type="text" readOnly="true" style="width:80%;height:50px"  name="ename" id="id_ename" required maxlength="100" value="{{ qs.numbers }}" />
                  <br/><br/><br/>
                  <input type="text" readOnly="true" style="width:80%;height:50px" name="econtact" id="id_econtact" required maxlength="15" value="{{ qs.expiration_date}}" />   
                </div>
                <br></br>
                <div class="col-3">
                  <h5 style="margin-left:-60px">Gtin</h5> 
                  <br/><br/><br/>
                  <h5 style="margin-left:100px" >Processorder Number:</h5>   
                  <br/><br/><br/>
                  <h5 style="margin-left:-60px">Type</h5>   
                </div>
                <div class="col-3">
                  <input type="text" readOnly="true" style="width:80%;height:50px"  name="econtact" id="id_econtact" required maxlength="15" value="{{ qs.gtin}}" />  
                  <br/><br/><br/>
                  <input type="text" readOnly="true" style="width:80%;height:50px"   name="eemail" id="id_eemail" required maxlength="254" value="{{ qs.processordernumber }}" /> 
                  <br/><br/><br/>
                  <input type="text" readOnly="true" style="width:80%;height:50px"   name="econtact" id="id_econtact" required maxlength="15" value="{{ qs.type }}" /> 
                
                </div>
              </div> 
              <br></br>
            <div class="row">
                <div classname="col-12">
                   
               
                    {% comment %} {% if qs.label_response == "0"  and  qs.start_pause_btnresponse == "False" %}
                        <button type="submit" class="btn btn-success">Start</button> {% endcomment %}
                    {% if qs.start_pause_btnresponse == False  %}
                        <button type="submit" class="btn btn-success">Start</button>
                        
                     {% else  %}
                        <button type="submit" class="btn btn-warning">Pause</button>   
                    {% endif %}  
                     
                    <br></br>
                </div>
                
            </div> 
            {% if qs.start_pause_btnresponse == True and pd == 1 %}
            <a href="{%url 'emp-editjob' qs.id%}" class="btn btn-info" style= "color:red; margin-left:1040px" >Navigate To Batch Details Page</a>
            {% endif %} 
           
             <a href="{%url 'gradecount' qs.id  %}" class="btn btn-primary" style= "color:black; margin-left:640px" >Grades</a> 
             {% comment %} <a href="{%url 'emp-editjob' qs.id%}" class="btn btn-info" style= "color:red; margin-left:1040px" >Navigate To Batch Details Page</a>    {% endcomment %}
        </form>  

        
    </body>  
</html>  